.subtitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: limegreen;
}


.image{
    border: 4px solid limegreen;
    margin: auto;
}

blockquote {
    text-align: justify;
}





